<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item0</key>
	<dict>
		<key>hightlight</key>
		<string>clothe-male-highlight</string>
		<key>image</key>
		<string>clothe-male</string>
		<key>title</key>
		<string>男装</string>
	</dict>
	<key>item1</key>
	<dict>
		<key>hightlight</key>
		<string>clothe-female-highlight</string>
		<key>image</key>
		<string>clothe-female</string>
		<key>title</key>
		<string>女装</string>
	</dict>
	<key>item3</key>
	<dict>
		<key>hightlight</key>
		<string>clothe-hanger-highlight</string>
		<key>image</key>
		<string>clothe-hanger</string>
		<key>title</key>
		<string>中性</string>
	</dict>
</dict>
</plist>
